 <app-home></app-home>
 <!-- <mat-radio-group aria-label="Select an option">
    <mat-radio-button value="1">Option 1</mat-radio-button>
    <mat-radio-button value="2">Option 2</mat-radio-button>
  </mat-radio-group> -->
 <!-- <button (click)="navigat('home')">memory game</button>
<br>
<br>
<button (click)="changeFlag()">completion game</button> -->
<!--<div *ngIf="displayCompletionGame">
    <div *ngFor="let i of textArray">
         {{i.textValue}}
    </div>
    <table>
        <tr>
            <td>{{i.textAnswer[0]}}</td>
            <td>{{i.textAnswer[1]}}</td>
            <td>{{i.textAnswer[2]}}</td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </table>
</div> -->