
body {
    // background-image:url('M:\sign-language-project\src\assets\article1.jpg') ;
    background-repeat: no-repeat;
    background-size: cover;
      /* background-image:url('M:\sign-language-project\src\app\general\home\Wikisordia_logo_(puzzle).svg.png'); */
  }
h3
{
    text-indent: 100px;
      
}
h6
{
     text-indent: 150px;
}
