.a
{
     //position:inherit;
     left: 700%;
     top:100000px;
    // display: inline-block;
    // margin-left: 900%;
}
.grid {
    display: grid;
    grid-template-columns: repeat(5, 150px);
    gap: 16px;

    justify-content: center;
}

@media (max-width: 600px) {
    .grid {
        grid-template-columns: repeat(2, 150px);
    }
}
